<h1><%= @instrument.name %></h1>
<p>This instrument is located at:</p>
<% @instrument.stock.each do |stock| %>
  <p><%= stock.warehouse.name %>, shelf <%= stock.shelf_id %>:
    <%= stock.amount %> in stock</p>
<% end %>
<p>Total: <%=  @instrument.stock_total %></p>